.promo {
  .wrapper;

  position: relative;

  padding: 0;
}

.promo__bg {
  min-height: 305px;
  padding-top: 28px;
  padding-bottom: 145px;

  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-color: #64a83b;
  text-align: center;
}

.promo__title {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 19px;

  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
}

.promo__slogan {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
}

.promo__to-form {
  margin: 0 auto;
  margin-top: 135px;
}

.promo__image {
  position: absolute;
  left: 50%;
  bottom: 43px;

  width: 280px;
  height: 270px;
  margin-left: -140px;

  background-image: url("../img/index-can-mobile@1x.png");

}


